<div class="card login-card">
    <h5 class="card-header">Login</h5>
    <div class="card-body">
        <div class="form-group">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="text" class="form-control" [(ngModel)]="email" placeholder="email" required>
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" [(ngModel)]="password" id="pwd" placeholder="password" required>
            </div>
            <button (click)="signInUser()" class="btn btn-primary">Login</button>
            <button routerLink="/forgot-password" style="margin:5px" class="btn btn-danger">Forgot Password</button>
        </div>
        <div class="login-card">
            <button (click)="login()" class="btn btn-primary">
                Login with Google
            </button>
        </div>
    </div>
</div>