<div class="card login-card">
    <h5 class="card-header">Forgot Password</h5>
    <div class="card-body">
        <div class="form-group">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="text" class="form-control" [(ngModel)]="email" placeholder="Please enter you email address" required>
            </div>
            <button (click)="forgotPassword()" class="btn btn-warning">Reset Password</button>
        </div>
    </div>
</div>